body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/background159_01cN9.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  padding: 20px;
  color: rgb(24, 13, 77);
}

h2, h3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  color: black;
}

ul li {
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease;
}

ul li:hover {
  color: rgba(0, 0, 0, 1);
}

a {
  color: rgba(255, 0, 0, 0.74);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}
